<div class="app-container">
  <div class="sidebar-page">
    <app-sidebar [selectedEmployee]="selectedEmployee"></app-sidebar>
  </div>
  <div class="employees-page">
    <div class="add-container">
      <app-employee
        (click)="handleEmployeeClick()"
        [formClass]="'container'"
        [isAdd]="true"
      >
      </app-employee>
    </div>
    <div class="employees-list">
      <h5>Employees List:</h5>
      <app-employees-list
        (selectedEmployee)="setSelectedEmployee($event)"
      ></app-employees-list>
    </div>
  </div>
</div>
