.btn-container{
    display: flex;
    justify-content: flex-end;
}
.emp-container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.list-container{
    height: auto;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .drop-box{
    cursor: move;

  }
  
  .emp-container.cdk-drop-list-dragging .drop-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }